#header
  %h1 Puzzlenode

#content
  - if signed_in?
    = "Welcome #{current_user.name}"
    %p= link_to "Puzzles", puzzles_path
  - else
    = link_to "Sign up / Log in", login_path
  
  .announcements
    - @announcements.each do |announcement|
      %h3= announcement.title
      %p= announcement.created_at.strftime("Posted %A, %B %d at %H:%M %Z")
      %p= announcement.body