#content
  #page_id
    Puzzle Administration
    = link_to "New puzzle", new_admin_puzzle_path
  #one_col
    .article_list
      - @puzzles.each do |puzzle|
        #article
          .article_header
            .article_title
              %h3= puzzle.name
          .button_link 
            = link_to "Destroy", admin_puzzle_path(puzzle),
                  :confirm => "Are you sure you wish to destroy this puzzle?",
                  :method  => "DELETE"
          .article_body_with_button
            %p= puzzle.short_description
            %p= link_to "Edit this puzzle", edit_admin_puzzle_path(puzzle)